h1,
h2,
h3 {
  border: 1px solid orange;
  padding: 15px;
  border-radius: 5px;
}

.reveal h1 {
  margin: 15px;
}

.reveal h2 {
  font-size: 30pt;
}

.reveal h3 {
  font-size: 25pt;
  border: 1px solid red;
}

.reveal ul {
  margin: 0;
}

.reveal p,
li {
  font-size: 20pt;
  padding: 5px;
  text-align: left;
}

img {
  border-radius: 5px;
  border: 1px grey solid;
}

strong {
  color: orange;
}

.reveal blockquote p {
  font-size: 15pt;
}

code {
  color: orange;
}
